target
work

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea
out

# eclipse project file
.settings
.classpath
.project
bin
build

# vim
*~

*.class
.DS_Store
src/main/.DS_Store
src/main/webapp/.DS_Store
src/test/resources/org/jenkinsci/plugins/.DS_Store
src/test/resources/org/jenkinsci/plugins/logparser/.DS_Store